<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Bootstrap</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.css">
  <link rel="stylesheet" href="style.css">
  
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-app>

<header>
   <a href="http://www.marlonfalcon.cl/">
     <img alt="marlon" src="assets/img/right_orange.png" style="position: fixed; top: 0; right: 0; border: 0;z-index:9999;"  id="marlon" >
   </a>
</header>

<!-- Angular JS -->
<script>
   function ControladorFiltros($scope) {
       $scope.empleados = 
        [
           { nombre: 'Ana', apellido: 'Guzman', telefono: '123445', salario: '5234' , primerDia: new Date()  },
           { nombre: 'Yoel', apellido: 'Auzman', telefono: '123445', salario: '5234', primerDia: new Date()    },
           { nombre: 'Martha', apellido: 'Gaazman', telefono: '123445', salario: '5234', primerDia: new Date() },
           { nombre: 'Ana', apellido: 'Guzman', telefono: '123445', salario: '5234' , primerDia: new Date()  },
           { nombre: 'Yoel', apellido: 'Auzman', telefono: '123445', salario: '5234', primerDia: new Date()    },
           { nombre: 'Martha', apellido: 'Gaazman', telefono: '123445', salario: '5234', primerDia: new Date() }
        ];

        $scope.ordenarPor = function (orden) {
           $scope.ordenSelecccionado = orden;
        }
   }
</script>


<div class="container" ng-controller="ControladorFiltros">
    <h1> Filtros Nativos de Angular JS </h1>
    <hr>
      <div class="panel panel-primary">
           <div class="panel-heading">
               <div class="input-group">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                   <input type="text" class="form-control" placeholder="Buscare Empleado" ng-model="buscar.nombre">
               </div>
          </div>
       <div class="panel-body">
          <table class="table table-striped">
              <thead>
                 <tr>
                    <th><a href="" ng-click="ordenarPor('nombre')">Nombres</a>
                    <span class="caret" style="cursor:pointer" ng-click="ordenarPor('-nombre')" ></span></th>
                    <th><a href="" ng-click="ordenarPor('apellidos')">Apellidos</a></th>
                    <th>Telefono</th>
                    <th>Salario</th>
                    <th>Cumpleaño</th>
                 </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="empleado in empleados | orderBy:ordenSelecccionado | filter:buscar">
                     <td>{{empleado.nombre  }}</td>
                     <td>{{empleado.apellido | uppercase}}</td>
                     <td>{{empleado.telefono | number:2 }}</td>
                     <td>{{empleado.salario | currency }}</td>
                     <td>{{empleado.primerDia | date:'fullDate' }}</td>
                  </tr>
              </tbody>
          </table>
       </div>    
      </div>  <!-- Panel Primario -->  
    
</div>
<!-- Angular JS -->









<!-- Si usas redes sociales -->
  <div id="social-sidebar">
     <ul>
       <li><a class="entypo-twitter" target="_blank" href="https://twitter.com/marlonfalcon4"> <i class="fa fa fa-twitter  fa-stack-1x"></i>  </a></li>
       <li><a class="entypo-facebook" target="_blank" href="https://www.facebook.com/falconsoftsa"><i class="fa fa fa-facebook fa-stack-1x"></i> </a></li>
       <li><a class="entypo-youtube" target="_blank" href="https://www.youtube.com/channel/UCM93kgnjXu393jgKjjSkUjQ"><i class="fa fa fa-youtube fa-stack-1x"></i> </a></li>
     </ul>
  </div>
<!-- Si usas redes sociales -->




<!-- Si usas tu top -->
<div id="toTop" class="back-to-top" style="display: none;">
      <i class="fa fa fa-chevron-up fa-stack-1x"></i>
</div>
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script>            
      $(document).ready(function(){
        var offset = 220;
        var duration = 500;
        $(window).scroll(function() {
          if ($(this).scrollTop() > offset) {
            $('.back-to-top').fadeIn(duration);
          } else {
            $('.back-to-top').fadeOut(duration);
          }
        });
        
        $('.back-to-top').click(function(event) {
          event.preventDefault();
          $('html, body').animate({scrollTop: 0}, duration);
          return false;
        })
      });
</script>
<!-- Si usas tu top -->

  <script src="assets/js/bootstrap.min.js"></script> 
  

<!-- Si usas la libreria fancyBox -->
  <script src="assets/lib/fancyBox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
  <!-- Add fancyBox main JS and CSS files -->
  <script type="text/javascript" src="assets/lib/fancyBox/source/jquery.fancybox.js?v=2.1.5"></script>
  <link rel="stylesheet" type="text/css" href="assets/lib/fancyBox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

  <!-- Add Button helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="assets/lib/fancyBox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <script type="text/javascript" src="assets/lib/fancyBox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

  <!-- Add Thumbnail helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="assets/lib/fancyBox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
  <script type="text/javascript" src="assets/lib/fancyBox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <!-- Add Media helper (this is optional) -->
  <script type="text/javascript" src="assets/lib/fancyBox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
  <script type="text/javascript" src="assets/lib/fancyBox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
 
  <script src="assets/lib/fancyBox/lib/function.js"></script>
    <style type="text/css">
    .fancybox-custom .fancybox-skin {
      box-shadow: 0 0 50px #222;
    }
  </style>
<!-- Si usas la libreria fancyBox -->



<!-- progresbar -->
 <script src="assets/lib/nprogress/nprogress.js"></script>
 <script src="assets/js/angular.min.js"></script>
 
 <link rel="stylesheet" href="assets/lib/nprogress/nprogress.css">
 <script>
    $('body').show();
    $('.version').text(NProgress.version);
    NProgress.start();
    setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);

    $("#b-0").click(function() { NProgress.start(); });
    $("#b-40").click(function() { NProgress.set(0.4); });
    $("#b-inc").click(function() { NProgress.inc(); });
    $("#b-100").click(function() { NProgress.done(); });
  </script>
<!--  progresbar -->

</body>

</html>